## Different Ways of Building Dataframes

### 1. Built an Empty Dataframe

In [13]:
import pandas as pd
import numpy as np

In [2]:
df=pd.DataFrame()
type(df)

pandas.core.frame.DataFrame

### 2. Built a Dataframe using loc

In [30]:
columns=['item','numbers']
df=pd.DataFrame(columns=columns)

df.loc[0]=['Apple',1]
df.loc[1]=['Orange',2]
df.loc[2]=['grape',3]
df

     item numbers
0   Apple       1
1  Orange       2
2   grape       3

### 3. Built a Dataframe from a List

In [3]:
list_a = [1,2,3]
df     = pd.DataFrame(list_a)
df

   0
0  1
1  2
2  3

In [4]:
list_b = [[1,2,3],['apple','orange','grape']]
df     = pd.DataFrame(list_b)
df

       0       1      2
0      1       2      3
1  apple  orange  grape

### 4. Built a Dataframe from a Pandas Series

In [7]:
series_a = pd.Series(['Apple','Mango','Orange'])
series_b = pd.Series([10,20,30])

df = pd.DataFrame({'item': series_a, 'number': series_b})
df

     item  number
0   Apple      10
1   Mango      20
2  Orange      30

### 5. Built a Dataframe from a Dictionary

In [22]:
dict = {'item': ['apple','mango', 'orange'], 'number': [10, 20, 30]}

df   = pd.DataFrame.from_dict(dict)
df

     item  number
0   apple      10
1   mango      20
2  orange      30

In [24]:
list_a = [1,2,3]
list_b = [1,2,3]
dict = {'item': list_a, 'number': list_b}

df   = pd.DataFrame.from_dict(dict)
df

   item  number
0     1       1
1     2       2
2     3       3

In [25]:
series_a = pd.Series(['Apple','Mango','Orange'])
series_b = pd.Series([10,20,30])
dict = {'item': series_a, 'number': series_b}

df   = pd.DataFrame.from_dict(dict)
df

     item  number
0   Apple      10
1   Mango      20
2  Orange      30

In [23]:
dict = {'item': ['apple','mango', 'orange'], 'number': [10, 20, 30]}

df   = pd.DataFrame(dict)
df

     item  number
0   apple      10
1   mango      20
2  orange      30

In [11]:
dict = {'item': {'a': 'apple','b': 'mango', 'c': 'orange'}, 'number': {'a': 10, 'b': 20, 'c': 30}}

df   = pd.DataFrame(dict)
df

     item  number
a   apple      10
b   mango      20
c  orange      30

### 6. Built a Dataframe from a Numpy array

In [16]:
array = np.array([[1,1,1],[2,4,8]])
columns=['same','square','cube']
df=pd.DataFrame(array,columns=columns)
df

   same  square  cube
0     1       1     1
1     2       4     8

In [31]:
### 7. Built a Dataframe from a CVS file

In [32]:
#df = pd.read_csv(“name.csv”)